

.root {
  padding: 1rem 1.5rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.content-wrapper {
  position: relative;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  width: 60%;
  row-gap: 2rem;
}

.twin-opt {
  display: inline-flex;
  justify-content: space-around;
  column-gap: 2rem;
  position: relative;
}

input, textarea {
  font-size: 1rem;
  padding: 16;
  border: none;
  outline: none;
  border-radius: 12;
}

textarea {
  min-height: 30dvh;
  width: 100%;
  height: max-content;
}

input {
  width: calc((100% - 2rem)/2);
}

button {
  padding: 16;
  border-radius: 12;
  max-width: max-content;
  outline: none;
  border: none
}

.clickable {
  cursor: pointer;
}

pre {
  font-size: 1rem;
  padding: 16;
  border: none;
  outline: none;
  border-radius: 12;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: field;
  min-height: 30dvh;
  width: 100%;
  height: max-content;
}

@media (prefers-color-scheme: light) {
  input, textarea, pre {
    background-color: lightgray;
  }
}